# 문제 1. 
- 변수 a에 정수 10을, 변수 b에 실수 5.5를 할당하고, 두 변수를 더한 결과의 데이터 타입을 출력하세요.

In [2]:
a = 10
b = 5.5
a+b

15.5

# 문제 2
- 문자열 "100"과 정수 50을 더하려고 할 때 발생하는 오류를 설명하고, 이를 해결하는 방법을 보여주세요.

In [4]:
my_string = "100"
my _int = 50
my_string + my_int

SyntaxError: invalid syntax (2438424319.py, line 2)

# 문제 3. 
- 리스트 [1, 2, 3]와 튜플 (4, 5, 6)을 더할 수 있는지 확인하고, 가능하다면 결과를 출력하세요.

In [5]:
a = [1, 2, 3]
b = (4, 5, 6)
a+b

TypeError: can only concatenate list (not "tuple") to list

# 문제 4. 
- 변수 x에 None을 할당하고, 이를 다른 데이터 타입으로 변환할 수 있는지 확인하세요.

In [ ]:
x = none

# 문제 5. 
- 변수 a에 정수 3을 할당하고, 이를 부동 소수점 숫자 3.0으로 자동 변환하도록 하세요.

# 문제 6. 
- 변수 s에 문자열 "Hello"를 할당하고, 이를 3번 반복한 결과의 데이터 타입을 확인하세요.

In [17]:
s = "hello"
for s in string:
    for s in string(3):
        print(3)

NameError: name 'string' is not defined

# 문제 7. 
- 변수 x에 정수 7을 할당하고, 이를 문자열로 변환한 후 문자열 "3"과 더해보세요.

In [21]:
x = 7
str(x) + "3"

'73'

# 문제 8. 
- 변수 a에 True, 변수 b에 False를 할당하고, 두 값을 더한 결과와 그 데이터 타입을 확인하세요.

In [23]:
a = True
b = False
s = a + b
print(s)
type(s)

1

int

# 문제 9. 
- 변수 a에 25를 할당하고, 이 값을 0.5로 나눈 결과와 그 데이터 타입을 확인하세요.

In [24]:
a = 25
x= 25 / 0.5
print(x)
type(x)

50.0

float

# 문제 10. 
- 변수 text에 문자열 "12345"를 할당하고, 이를 정수형으로 변환한 후, 10을 더한 결과를 출력하세요.

In [ ]:
text = 12345
str(text)

# 문제 10. 
- 변수 text에 문자열 "12345"를 할당하고, 이를 정수형으로 변환한 후, 10을 더한 결과를 출력하세요.

# 문제 11. 
- 리스트 [10, 20, 30, 40, 50]에서 가장 큰 값을 찾아서 출력하세요.

# 문제 12. 
- 리스트 [1, 2, 3, 4, 5]에서 모든 요소를 더한 결과를 출력하세요.

# 문제 13. 
- 튜플 (5, 10, 15, 20)에서 두 번째 요소를 출력하세요.

# 문제 14. 
- 튜플 (1, 2, 3)와 (4, 5, 6)을 합쳐서 새로운 튜플을 만들고 출력하세요.

# 문제 15. 
- 딕셔너리 {'a': 1, 'b': 2, 'c': 3}에서 키 'b'의 값을 10으로 변경하고 출력하세요.

# 문제 16.
- 딕셔너리 {'name': 'Alice', 'age': 25, 'city': 'New York'}에서 모든 키를 출력하세요.

# 문제 17. 
- while 루프를 사용하여 1부터 5까지의 숫자를 출력하세요.

# 문제 18. 
- while 루프를 사용하여 10부터 1까지 거꾸로 숫자를 출력하세요.

# 문제 19. 
- for 루프를 사용하여 리스트 [2, 4, 6, 8, 10]의 각 요소에 2를 곱한 값을 출력하세요.

# 문제 20. 
- for 루프를 사용하여 문자열 "Python"의 각 문자를 출력하세요.