In [1]:
- person 클래스 만드세요.
- 속성 : 이름(name), 나이(age),
- greet()메서드 // 인사

SyntaxError: invalid syntax (794381906.py, line 1)

In [3]:
class Bicycle():

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"안녕하세요, 저는 {self.name}이고 {self.age}살 입니다.")

mike = Bicycle("MIke", 12)
mike. greet()

안녕하세요, 저는 MIke이고 12살 입니다.

In [5]:
class Bicycle():

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self, other_name):
        print(f"안녕하세요, {other_name}님 저는 {self.name}이고 {self.age}살 입니다.")

mike = Bicycle("MIke", 12)
mike. greet(other_name = "mini")

안녕하세요, mini님 저는 MIke이고 12살 입니다.

In [10]:
class Bicycle():
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self, other_name= "mini"):
        print(f"안녕하세요, {other_name}님 저는 {self.name}이고 {self.age}입니다.")

mike = Bicycle("Mike", 12)
mike.greet()

안녕하세요, mini님 저는 Mike이고 12입니다.

In [14]:
x =int(input("숫자를 입력하세요.."))
if x >= 90 : 
    print("pass")
else:
    print("fail")

숫자를 입력하세요.. 50

fail

In [19]:
x = int(input("숫자를 입력하세요.."))
if x>= 90 :
    print("합격")
elif (x>=80) and (x<90):
    print("조건부합격")
else:
    print("탈락")

숫자를 입력하세요.. 95

합격

In [ ]:
시나리오
90점 넘으면 합격, 그 중에서 100점자에는 장학금 지급
80점 이상은 조건부 합격
그 외는 탈락

In [23]:
x= int(input("점수를 입력하세요.."))
if x>= 90:
    if x ==100:
        print ("장학금 지급")
    else: 
        print("합격")
    
elif (x>=80) and(x<90):
    print("조건부 합격")
else:
    print("탈락")

점수를 입력하세요.. 100

장학금 지급

In [ ]:
반복문

In [28]:
for i in range(3):
    i=int(3)

In [37]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [39]:
for i in my_num(5):
    print

TypeError: 'int' object is not callable

In [33]:
for i in my_list:
    print(i)

1
2
3

In [35]:
list(range(3))

[0, 1, 2]

In [40]:
tuple(range(3))

(0, 1, 2)

In [42]:

for a in range(5):
    print(3)

3
3
3
3
3

In [51]:

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3)

In [54]:
for i in my_tuple:
    print(i)

1
2
3

In [57]:
중첩for문

NameError: name '중첩for문' is not defined

In [65]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

print("x y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)
    print("y 반복문 종료")

x y
x1
x1 y1
x1 y2
y 반복문 종료
x2
x2 y1
x2 y2
y 반복문 종료

In [61]:
print("x y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)

x y
x1
x1 y1
x1 y2
x2
x2 y1
x2 y2

In [69]:
print ("x y")
for a in x_list:
    print(x)
    for b in y_list:
        print(a, b)

x y
x2
x1 y1
x1 y2
x2
x2 y1
x2 y2

In [70]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

print(names[0], scores[0])
print(names[1], scores[1])
print(names[2], scores[2])
print(names[3], scores[3])

James 95
Robert 96
Lisa 97
Mary 94

In [72]:
print(names[0], scores[0])
print(names[1], scores[2])

James 95
Robert 97

In [73]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

# idx : index 번호
for idx in range(len(names)):
    # print(idx)
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

In [ ]:
for idx in