In [1]:
import pandas as pd

# 데이터프레임 생성
data = [
    ["1,000", "1,100", '1,510'],
    ["1,410", "1,420", '1,790'],
    ["850", "900", '1,185'],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   03/02   3 non-null      object
 1   03/03   3 non-null      object
 2   03/04   3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [2]:
# 쉼표를 제거하고 int로 변환하는 함수 정의 

x = "1,000"
int(x.replace(",", ""))

def rm_comma(x):
    return int(x.replace(",", ""))

y = "1,000"
print(rm_comma(y))

1000

In [3]:
x = " 1,000"
int(x.replace(",",""))

1000

In [5]:
def rm_comma(x):
    return int(x.replace(",",""))

y = "1,000"
print(rm_comma(y))

1000

In [6]:
data2 = {
    "종목코드" : [ '029900', '029900', '029900'],
    "종목명" : [ "알파코", "a", "b"]
}

df2 = pd.DataFrame(data = data2)
df2

     종목코드  종목명
0  029900  알파코
1  029900    a
2  029900    b

In [9]:
import numpy as np
import pandas as pd

In [10]:
data = {
    "종목코드" : [ '029000','029000' , '029900'],
    "종목명" : ["알파코", "A", "B"]
}

df = pd.DataFrame(data = data)
df

     종목코드  종목명
0  029000  알파코
1  029000    A
2  029900    B

In [11]:
import pandas as pd
import random
import string


# Regenerating the dictionary where each key (종목코드, 종목명, 현재가, 등락률) has a list of values

data_dict = {
    "종목코드": [],
    "종목명": [],
    "현재가": [],
    "등락률": []
}

# Function to generate simpler 종목코드 and 종목명 ensuring the 종목코드 starts with '0'
def generate_code_name_for_dict(existing_codes):
    while True:
        code = '0' + ''.join(random.choices(string.digits, k=5))  # Ensure it starts with '0'
        name = ''.join(random.choices(string.ascii_uppercase, k=2))  # Simpler 종목명 with 2 letters
        if code not in existing_codes:
            return code, name

# Generating 10,000 rows of data
existing_codes_for_dict = set()

for _ in range(10000):
    code, name = generate_code_name_for_dict(existing_codes_for_dict)
    existing_codes_for_dict.add(code)
    current_price = random.randint(1000, 1000000)  # Simpler current price
    change_rate = round(random.uniform(-5, 5), 2)  # Simpler change rate
    
    data_dict["종목코드"].append(code)
    data_dict["종목명"].append(name)
    data_dict["현재가"].append(current_price)
    data_dict["등락률"].append(change_rate)

# Previewing a portion of the dictionary
data_dict_preview = {k: data_dict[k][:5] for k in data_dict}

df2 = pd.DataFrame(data_dict_preview)
df2

     종목코드 종목명     현재가   등락률
0  017752  XZ  486838 -4.94
1  035163  HG  641697  3.84
2  085354  JR  502678 -0.16
3  021132  GQ  357821 -3.08
4  004757  CN  388381 -4.99

In [12]:
df2 = df2.set_index("종목코드")
df2

       종목명     현재가   등락률
종목코드
017752  XZ  486838 -4.94
035163  HG  641697  3.84
085354  JR  502678 -0.16
021132  GQ  357821 -3.08
004757  CN  388381 -4.99

In [23]:
df2.reset_index(drop=True)

  종목명     현재가   등락률
0  XZ  486838 -4.94
1  HG  641697  3.84
2  JR  502678 -0.16
3  GQ  357821 -3.08
4  CN  388381 -4.99

In [22]:
df2.reset_index(drop=True)
df2

       종목명     현재가   등락률
종목코드
017752  XZ  486838 -4.94
035163  HG  641697  3.84
085354  JR  502678 -0.16
021132  GQ  357821 -3.08
004757  CN  388381 -4.99